@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 585px
  .hotel
    &-slider
      width: 595px
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .reviews
    &-slider
      &__item
        max-width: 730px
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .header
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto

    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px

    .search
      &__input
        width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__right
      flex-direction: row
    &-slider
      margin-bottom: 30px
    &-slider
      width: 100%

  .swiper
    &-slide
      &__image
        width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 580px
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .logo
    width: 132px
  .header
    &-menu, &__search, &__user
      display: none
    &-top
      &__menu-button
        display: flex
    .menu
      &-button
        display: flex
        width: 16px
        height: 11px
        padding: 0
        align-items: center
        justify-content: space-between
        flex-direction: column
        border: none
        cursor: pointer
        &__line
          width: 16px
          height: 1px
          background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        padding-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
      &__description
        padding: 0

  .hotel
    &__right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      flex-direction: column
      max-width: 576px
      width: 92%
      align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:none,
          display: none
          // Проблема
      &__button
        top: 30px
        &--prev
          left: 45%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 45%
          margin-right: -65px
          transform: translate(50%, 0)
@media (max-width: 576px)
  .logo
    width: 99px
  .slider
    height: 230px
  .hotel
    &__slider
      margin-bottom: 20px
    &-slider
      height: 250px
  .newsletter
    padding: 76px 0 83px 0
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
    &-slider
      &__profile
        z-index: 99
